body {
  display:flex;
  flex-flow: column wrap;
}

header {
  background: deepskyblue;
  text-align: center;
}

header p {
  display: none;
}

nav {
  background: lightblue;
  order: 1;
}
nav ul {
  padding:0;
}
nav a {
  display:block;
  padding: .25em 1em;
}
nav a:hover, nav a:focus {
  background: limegreen;
}

main {
  background: lightyellow;
}

aside {
  background: lightgreen;
  order:2;
}

footer {
  background: rebeccapurple;
  order: 3;
}

@media (min-width: 40em) {
  header p {
    display: initial;
  }

  nav {
    order: 0;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
  }
}
